@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600");
@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.font-display {
  font-family: "Playfair Display", serif;
}

.font-stylish {
  font-family: "Carattere", serif;
}

.font-common {
  font-family: "Gowun Dodum", sans-serif;
}

.font-montserrat{
  font-family: 'Montserrat', sans-serif;
}

:root {
  --color-primary: #e8ae3b;
  --color-primary-rgb: 96, 165, 250;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Lenis Smooth Scroll */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background: rgba(103, 103, 103, 0.764);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* Primary Color Utilities */

.border-primary {
  border-color: var(--color-primary) !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.text-primary {
  color: var(--color-primary);
}

.bg-loader-gradient {
  background: linear-gradient(135deg, var(--color-primary) 0%, #9c6800 100%);
}

.bg-overlay {
  background: linear-gradient(
    to top,
    rgba(var(--color-primary-rgb), 0.5) 0%,
    rgba(var(--color-primary-rgb), 0.1) 40%,
    transparent 100%
  );
}

.bg-fade {
  background: rgba(var(--color-primary-rgb), 0.4);
}

.horizontal-track {
  will-change: transform;
}

@media (min-width: 768px) {
  .bg-overlay.md\:bg-transparent {
    background: transparent;
  }

  .bg-fade.md\:bg-transparent {
    background: transparent;
  }
}

@media (min-width: 768px) {
  .md\:bg-overlay {
    background: linear-gradient(
      to top,
      rgba(var(--color-primary-rgb), 0.4) 0%,
      rgba(var(--color-primary-rgb), 0.2) 50%,
      transparent 100%
    );
  }
}

@media (min-width: 768px) {
  .md\:text-primary {
    color: var(--color-primary) !important;
  }
}
